@import "orar.css";
@import "banner.css";
@import "nav.css";
@import "nav.scss";



html {
    /*am setat font-size-ul radacinii; unitatile in rem vor fi relative la acest font-size*/
    font-size: 16px;
}

body {
    
    margin-top: 0;
    margin-bottom: 0;
    --body-padding: 1rem;
    --padding-intern: 4%;
    /*am adaugat doua imagini de background separandu-le cu virgula*/
    background: var(--bgColor);
    /* background-ul va ramane fix cand dam scroll*/
    background-attachment: fixed;
    /*imaginea de background sa acopere tot containerul*/
    background-size: cover;
    padding-left: var(--body-padding);
    padding-right: var(--body-padding);
    padding-top: 0;
    padding-bottom: 0;
    /*nu permite body-ului sa se micsoreze mai mult de atat
    deoarece pagina nu ar mai putea fi parcursa
    trebuie mereu setata o latime minima pentru pagina
    pentru a nu risca sa avem afisat cate un singur cuvant pe rand...*/
    min-width: 330px;
    /*latimea minima trebuie sa fie mai mica decat orice latime de dispozitiv pentru a nu avea scroll orizontal*/
}

h1 {
    font-size: 3rem;
    /* de 3 ori mai mare decat dimensiunea de font a html-ului*/
    text-shadow: 0px 0px 1px black, 0px 0px 2px black, 0px 0px 4px white, 0px 0px 4px white, 0px 0px 4px white;
}

main {
    --main-border: 1px solid grey;
    border-left: grey;
    border-right: grey;
}



.h1>span {
    font-family: 'Dancing Script', cursive;
}




#footer {
    grid-area: footer;
}


main {
    display: grid;
    grid-template-areas:  
    "g1     g1     g1     g1"
    "g3     g2     g2     g4"
    "g8     g8     g8     g8"
    "g7     g7     g5     g6";

    padding: var(--padding-intern);
    /*spatiu intre celulele de grid*/
    grid-gap: 2rem;
}
#grid-pagina section {
    /*outline:1px solid orange;*/
    border: 2px dotted var(--color2);
    padding: 1rem;
}   

#grid-pagina>figure {
    width: 100%;
}

figure {
    margin: 0;
    padding: 0;
}

figure img {
    width: 100%;
}

figcaption
{
    text-align:center;
}


#header {
    grid-area: header;
}

#g1 {
    grid-area: g1;
}

#g2 {
    grid-area: g2;
}

#g3 {
    grid-area: g3;
}

#g4 {
    grid-area: g4;
}

#g5 {
    grid-area: g5;
}

#g6 {
    grid-area: g6;
}

#g7 {
    grid-area: g7;
}

#g8 {
    grid-area: g8;
}


#homeLink
{
    text-decoration: none;
    color:black;
}