#banner
{
    background:orange;
    color: black;
    text-align: center;
    position:relative;
    opacity:1;
    
    animation-name: bannerAnimation;
    animation-duration: 6s;
    animation-delay: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes bannerAnimation
{
    0% {background: orange; top:0px;color:black;}
    50%   {background: cyan; top: -20px;color:red;}
    100% {background: orange; top:0px;color:black;}

}

