/*facem vizibil iconul de hamburger meniu*/

#hamburger {
    display: block;
}


/* implicit meniul e ascuns*/

ul.meniu {
    display: none;
    position: absolute;
    width: 100%;
}


/*aici facem vizibil meniul cand faem click pe hamburger meniu*/

#ch-menu:checked+ul.meniu {
    display: block;
}


/*optiunile se intind pe toata latimea containerului*/

nav ul.meniu li {
    width: 100%;
}


/*meniul sa vina deasupra continutul de mai jos, fara sa impinga continutul*/

nav ul.meniu>li ul {
    position: absolute;
    width: 100%;
    z-index: 20;
}


/* pentru fiecare element din submeniu generam un triunghiulet alb inaintea lui*/

nav ul.meniu>li li a:before {
    content: "ceva";
    color: white;
}